# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Frontend build output (produced by `gleam run -m lustre/dev build`)
server/priv/static/
result
result
